.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    }
    
    .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a94;
    width: 100%;
    height: 100%;
    }
    
    .modal_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 65%;
    height: 35%;
}
    
    .text_modal{
        font-size: 16px;
        font-family: 'Cormorant Garamond', serif;
        width:90%;
        text-align:center;
        padding: 10px;
    }
    .closebtn{
        padding: 8px;
        width: 100px;
        background-color: #CE5A67;
        border: none;
        color: white;
        cursor: pointer;
        font-family: 'Varela Round', sans-serif;
    }
    .closebtn:hover{
        background-color: white;
        border: 2px solid #CE5A67 ;
        color: #CE5A67;
    }


    
    